$site_url: '/';

$eb-blue: #474787;
$eb-pink: #f90382;
$eb-yellow: #f0932b;

$eb-light-purple: #b0b0d2;

@mixin placeholder($color) {

  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@keyframes focusOn {
  50% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1);
  }
  75% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1);
  }
}

@keyframes animateFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@mixin animateFadeInUp($time) {
  animation: animateFadeInUp $time ease;
  animation-fill-mode: forwards;
}